#up {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav {
  float: left;
}

#nav a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav a:hover:not(.active) {
  background-color: #111;
}
/* font-family: 'Righteous', cursive;
font-family: 'Baloo Chettan', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Schoolbell', cursive;
font-family: 'Skranji', cursive;
font-family: 'Indie Flower', cursive; */

 