<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
        
<nav class="navbar navbar-inverse"style="height:80px"></nav>
  <div class="container-fluid" style="text-align:center;margin-left:auto; margin-right:auto; display: flex;
  ">
        {% if user.is_authenticated %}
  <center> <ul id="up" style="list-style-type: none;
      
      padding:15px;
      overflow: hidden;
      background-color: rgb(31, 28, 28);
      position: fixed;
      top: 0;
      width: 110%;
      height:80px;
      font-family:Gill Sans MT;
      font-weight:bold;
     
      ">
      <li id="nav"><a class="navbar-brand" href="{% url 'home' %}" style="font-size:25px;font-weight: 40000;color: #bbbbbb; padding-top:23px;">Home</a></li>
      <li id="nav"><a class="navbar-brand" href="{% url 'profile' %}" style= "font-size:25px;font-weight: 40000;color: #bbbbbb;; padding-top:23px;">View My Profile</a></li>
      <li id="nav"><a class="navbar-brand" href="{% url 'post_project' %}" style= "font-size:25px;font-weight: 40000;color: #bbbbbb;; padding-top:23px;">Post a Project</a></li>
    
      <li id="nav"><a class="navbar-brand" href="/accounts/password/change"style= "font-size:25px;font-weight: 40000;color: #bbbbbb;; padding-top:23px;">Change Password</a></li>
      <li id="nav"><a class="navbar-brand" href="{% url 'edit_profile' %}"style= " font-size:25px;font-weight: 40000;color:#bbbbbb; padding-top:23px;margin-right:600px;">Edit/create Profile</a></li>
      <li id="nav"><a class="navbar-brand" href="/logout"style= "font-size:25px;font-weight: 40000;color: #bbbbbb; padding-top:23px;margin-right:0px;">Logout</a></li>
      <li id="nav"><h6 class="navbar-brand" style="font-size:25px;font-weight:bold;color: #bbbbbb; padding-top:14px;">{{user.username }}</h6> 
    </ul></center>



    
  
                 
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
     
          


  </div>

 
  
  
 
</nav>

</body>

</html>
